<div class="container-fluid">
    <div class="row mt-2">
        <div class="col-6">
              <img  src="assets/images/ISLogo.png" alt="">
        </div>
        <div class="col-4">
              <h5 class="title">QBW</h5>
        </div>
        <div class="col-1">

        </div>
        <div class="col-1">

        </div>
    </div>

    <div class="mt-2">
        <kendo-menu class="k-menu"> 
            <kendo-menu-item text="Home" > </kendo-menu-item>
            <kendo-menu-item text="Search" >
              <ng-template kendoMenuItemTemplate >  <a [routerLink]="['/search']">Search</a> </ng-template>  </kendo-menu-item>
            <kendo-menu-item text="Administration">
              <kendo-menu-item text="Compliance Approval"> </kendo-menu-item>
              <kendo-menu-item text="Forms Administration" >
                <ng-template kendoMenuItemTemplate> <a [routerLink]="['/form']">Forms Administration</a></ng-template> </kendo-menu-item>
              <kendo-menu-item text="User Administration"> </kendo-menu-item>
            </kendo-menu-item>
            <kendo-menu-item text="Help" > 
              <kendo-menu-item text="Enable Active X Control"> </kendo-menu-item>
            </kendo-menu-item>
          </kendo-menu>
    </div>
    </div>
