$primary: #a3d0e4;
$primary-light: #d9ecf5;
$primary-dark: #003f59;

* {
    
  
    font-size: 11.2px !important;
    color: $primary-dark !important;
 //  font-family: "Segoe UI", tahoma,arial,verdana,sans-serif, Helvetica !important;
   
}
$base-text: #000000 !default;
$base-bg: $primary-light !default;
$base-border: $primary;
$hovered-bg: $primary;
$panelbar-border: $primary;
$panelbar-header-bg: $primary-light;
$panelbar-header-border: $primary-dark;
$panelbar-header-text: #000000;
$panelbar-header-hovered-bg: $primary;
$panelbar-header-focused-bg:$primary-dark;
$panelbar-header-focused-text: $primary-light !important;

@import "~@progress/kendo-theme-default/scss/panelbar";

.k-panelbar > .k-item > .k-link, .k-panelbar > .k-panelbar-header > .k-link {
    padding: 6px 16px;
    border-top: 3px soild;

}
$menu-border: $primary-dark;
$kendo-menu-popup-item-hover-bg : $primary;
$menu-item-hover-bg: $primary;
$menu-item-border: $primary-dark;

@import "~@progress/kendo-theme-default/scss/menu";


 .k-item {
    color: #000000 !important;
}
 .k-menu-horizontal {
   border-color: $primary-light;
   color: #212529;
   background-color: $primary-light;
   padding: 0 !important;
}
// $tabstrip-bg: $primary;
$tabstrip-border: $primary;
$tabstrip-item-border-radius: 4px;
$tabstrip-item-bg: $primary-light;
$tabstrip-item-border: $primary;
$tabstrip-item-hovered-bg: $primary;
$tabstrip-content-border: $primary;
$tabstrip-item-selected-border: $primary;
@import "~@progress/kendo-theme-default/scss/tabstrip";

.tab-bg{
    border-top: 3px solid red;
}

$dropdownlist-bg: $primary;
$dropdownlist-hovered-bg: $primary;
@import "~@progress/kendo-theme-default/scss/dropdownlist";


// $kendo-button-bg: $primary-light;
// $kendo-button-border: $primary;
@import "~@progress/kendo-theme-default/scss/button";

.form-check-input{
    background-color: #ffff !important;
    border: 1px solid $primary !important ;
    
}

.form-check-input:checked{
    background-color: $primary !important;
    border: 1px solid $primary-dark !important ;
    color: #000000 !important;
}


@import "~@progress/kendo-theme-default/scss/datepicker";


@import "~@progress/kendo-theme-default/scss/textarea";
kendo-textarea{
    border-color: $primary;
}


@import "~@progress/kendo-theme-default/scss/textbox";


@import "~@progress/kendo-theme-default/scss/splitter";



@import "~@progress/kendo-theme-default/scss/grid";










.mandate{
    color: red !important;
    font-weight: bold;
}

kendo-dropdownlist, kendo-datepicker {
    width: 80% !important;
    margin-top: 3px !important;
    background-color: $primary-light !important;
    border: 1px solid $primary !important;
    border-radius: 5px !important;

  }



  kendo-textarea{
    border-color: $primary !important;
}

.card-header {
    background: #a3d0e4;
}
.form-select, .user-btn{
    background-color: #bbdceb;
}
.form-select:hover{
    background-color: #a3d0e4;
}

.card-form{
    max-height: 600px;
    overflow-y:scroll;
}

.text-border{
    border: 2px solid black;
}

.tab-bg{
    border-top: 3px solid red;
}
.tab-pane{
    padding: 5px;
}

.k-panelbar > .k-item > .k-link, .k-panelbar > .k-panelbar-header > .k-link {
    padding: 6px 16px;

}



  kendo-panelbar{  
    margin-top: 3px !important;
  }


  .form-btn{
    background-color: $primary-light;  
    border-radius: 5px;
  }




.form-text{
  border: 1px solid black !important;
  border-radius: 4%;
}

.pane-content {
  padding: 0 10px;
}
 